<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Search-IndexLoad</display-name>
	<!-- 
	
	IndexLoad is not yet supported in WC v7 FEP 8
	
	<servlet>
		<description>
		</description>
		<display-name>SolrIndexLoadServlet</display-name>
		<servlet-name>SolrIndexLoadServlet</servlet-name>
		<servlet-class>com.ibm.commerce.foundation.internal.server.services.indexload.servlet.SolrIndexLoadServlet</servlet-class>
		<init-param>
			<param-name>indexload.config.template</param-name>
			<param-value>../../indexload/wc-indexload-%profile%.xml</param-value>
		</init-param>
		<init-param>
			<param-name>indexload.config.environment</param-name>
			<param-value>../../indexload/wc-indexload-env.xml</param-value>
		</init-param>
		<init-param>
			<param-name>indexload.log.path</param-name>
			<param-value>../../../logs</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SolrIndexLoadServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	-->
</web-app>