/**
 *-------------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (c) Copyright IBM Corp. 2006
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *-------------------------------------------------------------------
 */

/****************************************
 * Master3_4.css						*
 * Style 3 - color 4   (orange)			*
 * class Styles used in B2B Pages  		*
 ****************************************/

/*****************************/
/* HTML Tag style definition */

UNKNOWN 	{	FONT-SIZE: 10pt; COLOR: #32404f; FONT-FAMILY: Verdana,  Arial, Helvetica }

/* Body class Styles */
BODY 		{	FONT-SIZE: 10pt; COLOR: black  ; FONT-FAMILY: Verdana,  Arial, Helvetica; PADDING-RIGHT: 0px; PADDING-LEFT: 0px;  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;  BACKGROUND-COLOR: white}
BODY.noMargin {   MARGIN-LEFT:  0px; MARGIN-RIGHT:  0px; MARGINWIDTH: 0px; MARGINHEIGHT: 0px; background-image: url(../images/colors/color16/background.gif);}
H1 			{	FONT-SIZE: 12pt; COLOR: #003D77; FONT-FAMILY: Verdana,  Arial, Helvetica; FONT-WEIGHT: bold;   }
TH 			{	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica }
/* Body class Styles */

/* A class Styles */
A 			{	FONT-SIZE: 10pt; FONT-FAMILY: Verdana,  Arial, Helvetica}
A.nav 		{	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: none}
A.nav:hover {	FONT-SIZE: 10pt; COLOR: #bccbdb; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: none}
A.search	{	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: underline}
A.button {background-image: url(../images/colors/color16/logon_but_back.gif); border: 1px solid #263C51; font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #003D77; height:20px; text-decoration:none; padding-left:15px; padding-right:15px; padding-top:1px; text-align: center;}
A.button:hover {background-image: url(../images/colors/color16/logon_but_back2.gif); border: 1px solid #4795DF; font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #003D77; height:20px; text-decoration:none; padding-left:15px; padding-right:15px; padding-top:1px; text-align: center;}
/* A class Styles */

		

STRONG 		{	FONT-WEIGHT: bold;   }
I 			{	FONT-STYLE: italic; }
P 			{	FONT-SIZE: 10pt; COLOR: #32404f; FONT-FAMILY: Verdana,  Arial, Helvetica}
SELECT 		{	FONT-SIZE:  8pt; COLOR: #32404f; FONT-FAMILY: Verdana,  Arial, Helvetica}
INPUT 		{	FONT-SIZE:  8pt; COLOR: #32404f; FONT-FAMILY: Verdana,  Arial, Helvetica}
OPTION 		{	FONT-SIZE:  8pt; COLOR: #32404f; FONT-FAMILY: Verdana,  Arial, Helvetica}
HEADER 		{	FONT-SIZE:  8pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: none}


/* Span class Styles */
SPAN.reqd{	FONT-FAMILY: Verdana; COLOR: #ea2b2b; FONT_SIZE: 2pt;	}

/* TABLE class Styles */
TABLE.noBorder		{	BORDER-STYLE: none; BORDER-COLLAPSE: collapse; }
TABLE.noBorderWide	{	BORDER-STYLE: none; BORDER-COLLAPSE: collapse; WIDTH: 100%; }

/* TD class Styles */
TD 			{	FONT-SIZE: 10pt; COLOR: #32404f; FONT-FAMILY: Verdana,  Arial, Helvetica }
TD.header 	{	FONT-SIZE: 10pt; COLOR: #003D77; FONT-FAMILY: Verdana; PADDING-LEFT: 3px; FONT-WEIGHT: bold;   }
TD.buttontext{	FONT-SIZE:  9pt; COLOR: white  ; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold;    BACKGROUND-COLOR: #ea2b2b; TEXT-DECORATION: none}
TD.pixel 	{	FONT-SIZE:  1px; LINE-HEIGHT: 0px;}
TD.content 	{	FONT-SIZE: 10pt; COLOR: black  ; FONT-FAMILY: Verdana; MARGIN-TOP: 10pt;  MARGIN-LEFT: 10pt;}
TD.subtitle{	COLOR: #b7d9ff;	BACKGROUND-COLOR: #394959; FONT-WEIGHT: bold;	}
TD.colHeader{	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; }
TD.price 	{	FONT-SIZE:  9pt; COLOR: #32404f; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right;}

/*End HTML Tag Style definition */
/********************************/

/* General Class Styles */
.title		{	FONT-SIZE: 17pt; COLOR: #32404f ;FONT-FAMLY: Verdana	}
.smallText	{	FONT-SIZE: -1pt; COLOR: #ffffff ;FONT-FAMILY: Verdana;  }
.amount		{ 	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, Verdana;  TEXT-ALIGN: right;	}
.summary	{	FONT-SIZE: 8pt;	}
.bgColor 	{	BACKGROUND-COLOR: #C0A537; }
.cellBG_1	{	BACKGROUND-COLOR: #ffffff; }
.cellBG_2	{	BACKGROUND-COLOR: #F8F4E5; }
.warning	{	COLOR: red;	}

/* Logon/Logoff class Styles */
BODY.logon {MARGIN-LEFT:  0px; MARGIN-RIGHT:  0px; MARGINWIDTH: 0px; MARGINHEIGHT: 0px; background-color: #003D77; padding-top: 100px;}
TD.logonwhite {background-color: white; padding-left:8px; padding-top:5px;}
TD.logontitle {font: bold 16px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #003D77;}
SPAN.logontitle {font: bolder 15px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #A6A4A4;}
TD.logonheading {font: bold 13px Verdana, Geneva, Arial, Helvetica, sans-serif; color: black; padding-top: 3px; padding-bottom: 1px;}
TD.logonspacing {padding-left:13px; padding-top:4px;}
input.logon {border: 1px solid #003D77; background-color:#F8F4E5;}
select.logon {border: 1px solid #003D77; background-color:#F8F4E5;}
A.logon {font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #003D77;}
hr.logon {border: 1px solid #BDBDBD; height:1px;}
TD.logontxt {font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: black; padding-top: 3px; padding-bottom: 1px;}
.logonbackgrnd {background-image: url(../images/colors/color16/logon_backgrnd.gif);}
TD.button {padding-bottom:12px;}

/* MedSci Layout class Styles */
.headercontainer {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display:table;
}
.sidebarcontainer {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	display:table;
	height: 100%;
}
.contentcontainer {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display:table;
	vertical-align: top;
}
.headsupcontainer {
	padding: 0px;
	width: 300px;
	overflow : hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display:table;
	vertical-align: top;
}
.footercontainer {
	padding: 0px;
	width: 100%;
	overflow : hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display:table;
	/*height: 400px;*/
}
.sitecontainer {
	padding: 0px;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
	display:table;
}
BODY.layout {background-image: url(../images/colors/color16/background.gif);}

TD.banner {vertical-align: top;width: 715px;height: 50px;}
TD.ban_tile {vertical-align: top;background-image: url(../images/colors/color16/tile.gif);}
TD.ban_srchtile {vertical-align: top;background-image: url(../images/colors/color16/srch_tile.gif);}
TD.ban_search {background-color:#DCCB84;}
input.search {border: 1px solid #887527;background-color: #EEF2F6; font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;}
A.ban_srch_button {background-image: url(../images/colors/color16/b_srch_bk.gif);border: 1px solid #887527;
	padding: 1px 4px 1px 4px; font: bold 11px Verdana; color:white; text-decoration: none; height:19px;}
A.ban_srch_button:hover {background-image: url(../images/colors/color16/b_srch_bk2.gif);border: 1px solid white;
	padding: 1px 4px 1px 4px; font: bold 11px Verdana; color:white; text-decoration: none; height:19px;}
A.ban_button {font: bold 11px Verdana; color:#4D4D4D; text-decoration: none;padding-left:6px; padding-top:4px; padding-right:6px;background-image: url(../images/colors/color16/button_back.gif);width:100%;text-align: center; height:22px;}
A.ban_button:hover {font: bold 11px Verdana; color:#7F6B1A; text-decoration: none;padding-left:6px; padding-top:4px; padding-right:6px;background-image: url(../images/colors/color16/button_back2.gif);width:100%;text-align: center; height:22px;}
SPAN.ban_text {font: bold 11px Verdana; color:#4D4D4D; text-decoration: none;padding-left:6px; padding-top:4px; padding-right:6px;text-align: center; height:22px;}
TD.ban_blueline {background-color:#887527; line-height: 1px;}
TD.ban_buttons_bk {padding-left:180px; background-image: url(../images/colors/color16/button_back.gif);}
TD.ban_shadow {background-image: url(../images/colors/color16/shadow.gif); line-height: 4px;}
TD.ban_vline {background-image: url(../images/colors/color16/v_line.gif);}


TABLE.gray {background-color: #F2F2F2;}
TD.nav_button {background-image: url(../images/colors/color16/l_nav_button.gif);}
A.nav_button {font: bold 11px Verdana; color:#4D4D4D; text-decoration: none;padding: 3px 4px 3px 4px; background-image: url(../images/colors/color16/l_nav_button.gif); width:100%; height:18px;}
A.nav_button:hover {font: bold 11px Verdana; color:#7F6B1A; text-decoration: none;padding: 3px 4px 3px 4px; background-image: url(../images/colors/color16/l_nav_button2.gif);width:100%; height:18px;}
TD.nav_tile {background-image: url(../images/colors/color16/l_nav_tile.gif);}


TD.content {padding: 4px 8px 8px 10px; width:100%;}
TD.c_topline {background-image: url(../images/colors/color16/c_top_side.gif);}
TD.c_leftline {background-image: url(../images/colors/color16/c_left_side.gif);}
TD.c_rightline {background-image: url(../images/colors/color16/c_right_side.gif);}
TD.c_botline {background-image: url(../images/colors/color16/c_bot_side.gif);}
TD.white {background-color: white;}

TD.portlet {padding: 4px 10px 8px 1px;}
TD.portlet_main {padding: 4px 0px 0px 0px;}
TD.portlet_title {font: bold 11px Verdana; color:white; background-image: url(../images/colors/color16/p_header_bk.gif);}
TD.portlet_title_nobg {font: bold 11px Verdana; color:white;}
TD.portlet_content {font: 11px Verdana;}
TD.portlet_colHeader{font: bold 11px Verdana; color:white;}
TD.portlet_price{FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #32404f; TEXT-ALIGN: right;}
TD.portlet_discountPrice{FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: purple; TEXT-ALIGN: right;}
TD.portlet_maximize {TEXT-ALIGN: right;}
A.portlet_content {font: 11px Verdana;}
A.portlet_button {background-image: url(../images/colors/color16/logon_but_back.gif); border: 1px solid #263C51; font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #003D77; height:20px; text-decoration:none; padding-left:5px; padding-right:5px; padding-top:1px; text-align: center;}
A.portlet_button:hover {background-image: url(../images/colors/color16/logon_but_back2.gif); border: 1px solid #4795DF; font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #003D77; height:20px; text-decoration:none; padding-left:5px; padding-right:5px; padding-top:1px; text-align: center;}
TR.portlet_header {background-image: url(../images/colors/color16/p_header_bk.gif);}
TD.portlet_shadow {background-image: url(../images/colors/color16/portlet_shadow.gif);}
A.garbage {vertical-align: top;background-image: url(../images/garbage.gif);width:16px; height: 16px;background-repeat: no-repeat; text-decoration: none;}
A.garbage:hover {vertical-align: top;background-image: url(../images/garbage2.gif);width:16px; height: 16px;background-repeat: no-repeat;}
A.copy {vertical-align: top;background-image: url(../images/copy_icon1.gif);width:16px; height: 16px;background-repeat: no-repeat; text-decoration: none;}
A.copy:hover {vertical-align: top;background-image: url(../images/copy_icon2.gif);width:16px; height: 16px;background-repeat: no-repeat;}

TD.footer_tile {background-image: url(../images/colors/color16/footer_tile.gif);}
TD.footer_shadow {background-image: url(../images/colors/color16/footer_shadow.gif);line-height: 4px;}

TD.logonLogo {background-color:#FFFFFF;}


/****************************************
 * delta from Snippet.css
 * classes to be used in snippets
 ****************************************/

/* Button link styles */
a.button {background-image: url(../images/colors/color16/logon_but_back.gif); border: 1px solid #263c51; font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #003d77; height:20px; text-decoration:none; padding-left:15px; padding-right:15px; padding-top:1px; text-align: center;}
a.button:hover {background-image: url(../images/colors/color16/logon_but_back2.gif); border: 1px solid #4795df; font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #003d77; height:20px; text-decoration:none; padding-left:15px; padding-right:15px; padding-top:1px; text-align: center;}

/* TD class styles */
th.colHeader	{font-size: 10pt; color: #ffffff; font-family: verdana; font-weight: bold;}
td.price 		{font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif; text-align: right;}
td.listPrice	{font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif; text-align: right; text-decoration: line-through;}
td.offerPrice	{font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif; text-align: right;}
td.discountPrice{font-size:  9pt; color: purple; font-family: arial, helvetica, sans-serif; text-align: right;}

/* This class is used to bold regular text */
strong 		{	font-weight: bold;}

/* The following classes format how currency is displayed */
.price		{	font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif;}
.listPrice	{	font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif; text-decoration: line-through;}
.offerPrice	{	font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif;}
.discountPrice{	font-size:  9pt; color: purple; font-family: arial, helvetica, sans-serif;}

/* This class is used to format text for discounts */
.discount	{	font-size:  10pt; color: purple; font-family: arial, helvetica, sans-serif;}

/* This class is used to format product names */
.productName{	font-size:  10pt; color: #32404f; font-family: arial, helvetica, sans-serif;}

/* Class to highlight a required field on a form */
.required	{	font-family: verdana; color: #ea2b2b; FONT_SIZE: 2pt;}
.strongRedText {	font-family: verdana; color: #ea2b2b; FONT_SIZE: 2pt;}

/* Class to highlight an error message */
.error		{	color: red;}

/* The background color of a table and alternating row background colors */
.bgColor 	{	background-color: #c0a537;}
.cellBG_1	{	background-color: #ffffff;}
.cellBG_2	{	background-color: #f8f4e5;}

/* This class is used for the section heading */
.heading {font-family: verdana, arial, helvetica, sans-serif;font-size: 11pt;font-weight: bold;text-align: left;color: #333333;padding: 0px;margin: 0px;}

/* This class is used for the section sub-heading */
.subHeading {font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;font-weight: bold;text-align: left;color: #666666;padding: 0px;margin: 0px;}

/* Breadcrumb trail for checkout pages */
a.chkout_done {color: black; text-decoration:}
td.chkout {font: bold 11px Verdana; color: #C6C6C6; padding-right: 7px;}
td.chkout_active {font: bold 11px Verdana; color:#950000;}
td.divider {width: 1px;}

/* Darwyn: added for compatability with new catalog and checkout pages */
H1 {font-family: Times, Arial,sans-serif; font-size: 20px; color: #93760D;line-height:40px;font-weight: normal;padding:0px; margin:0px;}
H2 {font-family: verdana, arial, helvetica, sans-serif;font-size: 12px;font-weight: bold;text-align: left;color: #93760D;line-height:24px; padding:0px; margin:0px;}

a.chkout_done:hover {color:#043982;}

	/* content classes start */
	
	#content {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444;}
	.c_back {background-color:white;padding: 10px 0px 10px 0px;}
	.c_headings {color:#93760D; font-size: 11px;font-weight:bold;padding-bottom:6px;padding-top:10px;}
	.c_line {width:100%; background-image :url(../images/colors/color16/c_line.gif);line-height:8px;margin:0px;font-size:2px;background-repeat: repeat-x;}
	.c_large_img {width:245px;vertical-align:top;}
	.c_flash {padding-top:10px; padding-bottom:13px;}
	.c_homepage_cat {border:solid 1px #abaaaa;}
	.c_homepage_cat_txt {font-family: Verdana, Arial,sans-serif; font-size: 13px; color:#444444;font-weight:bold; padding-left:6px; height:20px; text-transform: uppercase;}
	.c_home_txt_blue {font-family: Verdana, Arial,sans-serif; font-size: 15px; color:#93760D;font-weight:bold;}
	.c_home_txt_black {font-family: Verdana, Arial,sans-serif; font-size: 15px; color:#444444;}
	.c_select_yr_mnth {width:110px;}
	
	/* content classes end */
	/* subNav classes start */
	
	#subNav {width:135px;padding-right:20px;vertical-align:top;}
	.sn_heading {font-family: Times, Arial,sans-serif; font-size: 20px; color: #444444;line-height:40px;}
	.sn_off {height:20px; border-top:solid 1px #929499;}
	.sn_on {height:20px; border-top:solid 1px #929499;background-color:#E4E4E5;}
	.sn_link {font-family: Verdana, Arial,sans-serif; font-size: 10px; font-weight:bold; color:#444444;text-decoration:none;height:100%;width:100%;padding-top:3px;display:block;}
	.sn_link:hover {background-color:#93760D;text-decoration:none;color:#E9E9E9;}
	
	
	/* subNav classes end */
	/* table classes start */
	
	#table {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444;}
	.t_hd_rght {text-align : right; width:100%;}
	.t_hd_cntr {text-align : center; width:100%;}
	
	.t_img_view {text-align : center; width:120px;display:block;padding-top:12px;padding-bottom:10px;vertical-align:top;}
	.t_detail_view {display:block;padding-top:12px;padding-bottom:10px;vertical-align:top;}
	.t_space {padding-bottom: 8px;text-align : center;}
	.t_img_border { border:solid 1px #929499;}
	.t_empty_cell {width:14px}

	.t_row_img {padding-top:10px;padding-bottom:10px;vertical-align:top;}
	.t_row_detail {padding:6px;vertical-align:top;width:230px;}
	.t_txt_detail {font-size: 10px;}
	.t_row_price {padding-top:6px;padding-bottom:6px;vertical-align:top;width:95px;display:block}
	.t_button_space {padding-top:5px;display:block}
	.t_line {border-bottom:solid 1px #929499;font-size:1px;}
	.t_rght_space {padding-right:5px;}
	
	/* table classes end */
	/* page scrolling widget start*/
	
	.ps_align {text-align:right;border-right:solid 1px #929499; border-bottom:solid 1px #929499;border-top:solid 1px #929499;padding:0px; margin: 0px;}
	.ps_pad {padding-left:4px;}
	.ps_view {padding-right:5px;background-color:white; }
	.ps_input {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444; border: solid 1px #929499;height: 16px; padding-top:0px;margin-right:0px;border-top:solid 1px #929499;padding:0px; margin: 0px;}
	.ps_text {font-family: Verdana, Arial,sans-serif; font-size: 9px; color:#444444;padding-left:4px;}

	/* page scrolling widget end*/
	