/**
 *-------------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (c) Copyright IBM Corp. 2006
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *-------------------------------------------------------------------
 */

/* General classes start */
	
	BODY.noMargin {margin:0px; padding:0px;background-color: #E4E4E5;}
	TD,SPAN,DIV,P,UL,LI {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444;}
	.checkbox, .radio {color:#929499;padding:0px; margin:0px;}
	.input{font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444; border: solid 1px #929499;height: 20px; padding-top:2px;margin-right:6px;}
	.select{font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444; border: solid 1px #929499;height: 20px; padding-top:2px;margin-right:6px;}
	TEXTAREA {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444; border: solid 1px #929499; padding-top:2px;margin-right:5px;}
	a {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#043982;text-decoration:underline}
	a:hover {text-decoration:underline; color:#011F47;}
	.space {padding-top:7px; padding-bottom:7px;}
	.p_width {width:1000px;}
	.bold {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444;font-weight:bold;}
	.select_length {width:224px;}
	
	/* General classes end */
	/* Menu classes start */
	
	.m_back {background-color:white;}
	.m_line {vertical-align:top; height:35px;padding:0px; margin:0px;}
	.m_top {padding-bottom:3px;vertical-align:top;}
	.m_top_link {font-family: Verdana, Arial,sans-serif; font-size: 15px; font-weight:bold;color: #444444;padding-bottom:3px;text-decoration:none;}
	.m_top_link:hover {color: #043982;}
	.m_tile {background-image : url(../images/colors/color3/m_tile.gif); background-repeat: repeat-x; background-color: #659BD6; text-align: -moz-center; white-space: nowrap; height:25px;  padding:0px; margin:0px;}
	.m_link {background-image : url(../images/colors/color3/m_button_back.gif); background-repeat:no-repeat; font-family: Verdana, Arial,sans-serif; font-size: 11px;height:25px;padding: 4 7 0 19px;font-weight:bold;color: #444444;text-decoration:none;}
	.m_link:hover {background-image :url(../images/colors/color3/m_button_back2.gif);color: #043982;text-decoration:none;}
	.m_bottom_line {background-image :url(../images/colors/color3/m_bottom_line.gif);}
	
	/* Menu classes end */
	/* search area classes start */
	
	.s_back {background-color: #E4E4E5;border-bottom: solid 1px #929499;height:27px;}
	.s_padding {padding-left:5px;}
	.s_text {font-family: Verdana, Arial,sans-serif; font-size: 11px; font-weight:bold; text-decoration:none;color: #5C5E62;vertical-align:middle;}
	.s_text_black {color:#043982;font-size: 11px;}
	.s_link {font-family: Verdana, Arial,sans-serif; font-size: 11px;text-decoration:none;color: #5C5E62;}
	.s_link2 {color: #043982;font-size: 11px;}
	.s_link:hover {color: #043982;text-decoration:underline;}
	.s_input {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:black; border: solid 1px #CFD2DC;height: 19px;}
	.s_input2 {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:black; border: solid 1px #6E93BD;height: 19px;}
	
	/* search area classes end */
	/* content classes start */
	
	#content {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444;}
	.c_back {background-color:white;padding: 10px 0px 10px 0px;}
	.c_headings {color:#93760D; font-size: 11px;font-weight:bold;padding-bottom:6px;padding-top:10px;}
	.c_line {width:100%; background-image :url(../images/colors/color3/c_line.gif);line-height:8px;margin:0px;font-size:2px;background-repeat: repeat-x;}
	.c_large_img {width:245px;vertical-align:top;}
	.c_flash {padding-top:10px; padding-bottom:13px;}
	.c_homepage_cat {border:solid 1px #abaaaa;}
	.c_homepage_cat_txt {font-family: Verdana, Arial,sans-serif; font-size: 13px; color:#444444;font-weight:bold; padding-left:6px; height:20px; text-transform: uppercase;}
	.c_home_txt_blue {font-family: Verdana, Arial,sans-serif; font-size: 15px; color:#93760D;font-weight:bold;}
	.c_home_txt_black {font-family: Verdana, Arial,sans-serif; font-size: 15px; color:#444444;}
	.c_select_yr_mnth {width:110px;}
	
	/* content classes end */
	/* subNav classes start */
	
	#subNav {width:135px;padding-right:20px;vertical-align:top;}
	.sn_heading {font-family: Times, Arial,sans-serif; font-size: 20px; color: #444444;line-height:40px;}
	.sn_off {height:20px; border-top:solid 1px #929499;}
	.sn_on {height:20px; border-top:solid 1px #929499;background-color:#E4E4E5;}
	.sn_link {font-family: Verdana, Arial,sans-serif; font-size: 11px; font-weight:bold; color:#444444;text-decoration:none;height:100%;width:100%;padding-top:3px;display:block;}
	.sn_link:hover {background-color:#93760D;text-decoration:none;color:#E9E9E9;}
	
	
	/* subNav classes end */
	/* table classes start */
	
	#table {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444;}
	.t_table {width: 100%;}
	.t_hd_last {color:#93760D; font-size: 11px;font-weight:bold;padding: 3px 4px 3px 4px; background-color:#E4E4E5; text-align:left;height:15px;border:solid 1px #929499;vertical-align:top;}
	.t_tr {border-bottom: solid 1px #929499;}
	.t_hd {color:#93760D; font-size: 11px;font-weight:bold;padding: 3px 4px 3px 4px; background-color:#E4E4E5; text-align:left;height:19px;border-top:solid 1px #929499;border-left:solid 1px #929499;border-bottom:solid 1px #929499;vertical-align:top;}
	.t_hd_price_last {color:#93760D; font-size: 11px;font-weight:bold;padding: 3px 4px 3px 4px; background-color:#C1C2C6; text-align:left;height:15px;border-top:solid 1px #929499;border-left:solid 1px #929499;border-bottom:solid 1px #929499;border-right:solid 1px #929499;vertical-align:top;}
	.t_td { font-size: 11px; color:color:#444444;padding: 6px 4px 6px 4px;vertical-align:top; border-bottom: solid 1px #929499;}
	.t_td2 { font-size: 11px; color:color:#444444;padding: 7px 4px 3px 0px;vertical-align:top;}
	.t_hd_rght {text-align : right; width:100%;color:#93760D;  font-size: 11px;font-weight:bold;display:block;}
	.t_hd_cntr {text-align : center; width:100%;color:#93760D; font-size: 11px;font-weight:bold;display:block;}
	.t_rght {text-align : right; display:block; font-size:11px;}
	.t_rght_total {text-align : right; display:block; font-size:11px;}
	.t_cntr {text-align : center; width:100%;display:block;}
	.t_fees { font-size: 11px; color:#93760D;padding: 1px 4px 0px 4px;vertical-align:top;text-align : right;}
	.t_fees_spc {line-heght:3px;font-size: 4px;}
	.t_total { font-size: 11px; color:#93760D;text-align : right; padding: 3px 4px 3px 4px;vertical-align:top;border-top:solid 1px #929499;border-bottom:solid 1px #929499;font-weight:bold;}
	.t_total_figure { font-size: 11px; color:white;text-align : right; padding: 3px 4px 3px 4px;vertical-align:top;border-top:solid 1px #929499;border-bottom:solid 1px #929499;border-left:solid 1px #929499;background-color:#93760D;font-weight:bold;}
	.t_total_button {background-color:#93760D; font-family: Verdana, Arial,sans-serif; font-size: 11px; text-decoration: none; font-weight:bold;color: #C6C8CC; padding:1 0 2 0px;border: solid 1px #929499;height:14px; width:100%;text-align : center;margin-bottom:1px;display:block;}
	.t_total_button:hover {color:white;border: solid 1px #6E93BD;background-color: #93760D;text-decoration: none;}
	.t_discount {font-size: 11px; color:#8E8E8E;text-decoration : line-through;text-align : right; width:100%;display:block;}
	.t_button {background-color:#93760D; font-family: Verdana, Arial,sans-serif; font-size: 11px; text-decoration: none; font-weight:bold;color: #C6C8CC; padding:1 0 2 0px;border: solid 1px #929499;height:14px; width:100%;text-align : center;margin-bottom:5px;display:block;}
	.t_button:hover {color:white;border: solid 1px #6E93BD;background-color: #93760D;text-decoration: none;}
	
	.t_img_view {text-align : center; width:120px;display:block;padding-top:12px;padding-bottom:10px;vertical-align:top;}
	.t_detail_view {display:block;padding-top:12px;padding-bottom:10px;vertical-align:top;}
	.t_space {padding-bottom: 8px;text-align : center;}
	.t_img_border { border:solid 1px #929499;}
	.t_empty_cell {width:14px}

	.t_row_img {padding-top:10px;padding-bottom:10px;vertical-align:top;}
	.t_row_detail {padding:6px;vertical-align:top;width:230px;}
	.t_txt_detail {font-size: 11px;}
	.t_row_price {padding-top:6px;padding-bottom:6px;vertical-align:top;width:95px;display:block}
	.t_button_space {padding-top:5px;display:block}
	.t_line {border-bottom:solid 1px #929499;font-size:1px;}
	.t_rght_space {padding-right:5px;}
	
	/* table classes end */
	/* page scrolling widget start*/
	
	.ps_align {text-align:right;border-right:solid 1px #929499; border-bottom:solid 1px #929499;border-top:solid 1px #929499;padding:0px; margin: 0px;}
	.ps_pad {padding-left:4px;}
	.ps_view {padding-right:5px;background-color:white; }
	.ps_input {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444; border: solid 1px #929499;height: 16px; padding-top:0px;margin-right:0px;border-top:solid 1px #929499;padding:0px; margin: 0px;}
	.ps_text {font-family: Verdana, Arial,sans-serif; font-size: 9px; color:#444444;padding-left:4px;}

	/* page scrolling widget end*/
	/* footer classes start */
	
	.f_back {border-top:solid 1px #929499;align:left;}
	.f_title {font-family: Verdana, Arial,sans-serif; font-size: 15px; color: #727272;font-weight:bold;}
	.f_link {font-family: Verdana, Arial,sans-serif; font-size: 11px; color: #9B9B9D;}
	.f_link:hover {color: #444444;}
	.f_padding {vertical-align:top;padding: 10px 17px 10px 0px;}
	
	/* footer classes start */

/* Darwyn:add for compatability */
TABLE.content{background-color:white;padding: 10px 0px 10px 0px;}

/*Begin common portlet and logon classes*/
TD.c_topline {}
TD.c_leftline {}
TD.c_rightline {}
TD.c_botline {}
TD.white {}

TD.portlet {padding: 4px 10px 8px 1px;}
TD.portlet_main {padding: 4px 0px 0px 0px;}
TD.portlet_title {font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 11px; font-weight : bold; color: #DAE7F0; padding-left: 4px; height: 17px;}
TD.portlet_title_nobg {font: bold 11px Verdana; font-weight:bold; color:#93760D;background-color:#E4E4E5;height:18px;text-transform: uppercase}
TD.portlet_content {font: 11px Verdana;}
TD.portlet_colHeader{font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 11px;color:#444444; font-size: 11px;height:15px;vertical-align:top;font-weight:bold;}
TD.portlet_colHeader_p {font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 11px;color:#444444; font-size: 11px;text-align:left;height:15px;vertical-align:top;font-weight:bold;TEXT-ALIGN: right;}
TD.portlet_price{FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR:#444444; TEXT-ALIGN: right;}
TD.portlet_discountPrice{font: 11px Verdana;color:#444444; TEXT-ALIGN: right;}
TD.portlet_maximize {TEXT-ALIGN: right; padding: 0px 4px 0px 0px;background-color:#E4E4E5;}
A.portlet_content {font: 11px Verdana;}
A.portlet_button {background-color:#D3DCE7; font-family: Verdana, Arial,sans-serif; font-size: 11px; text-decoration: none; font-weight:bold;color: #444444; padding:2 7 3 6px;border: solid 1px #7EABDC;height:19px;}
A.portlet_button:hover {color:#174D8A;border: solid 1px #6E93BD;background-color: #BDD0E6;text-decoration: none;}
TD.portlet_shadow {}
A.garbage {vertical-align: top;background-image: url(../images/garbage.gif);width:16px; height: 16px;background-repeat: no-repeat; text-decoration: none;}
A.garbage:hover {vertical-align: top;background-image: url(../images/garbage2.gif);width:16px; height: 16px;background-repeat: no-repeat;}
A.copy {vertical-align: top;background-image: url(../images/copy_icon1.gif);width:16px; height: 16px;background-repeat: no-repeat; text-decoration: none;}
A.copy:hover {vertical-align: top;background-image: url(../images/copy_icon2.gif);width:16px; height: 16px;background-repeat: no-repeat;}

/*Begin style specific portlet classes*/
TD.p_content {padding: 4px;}
TABLE.outline {border-width : 1px; border-style : solid; border-color : #929499; background: #E4E4E5;}
TABLE.portlet{background-color:white;}

TD.logonLogo {background-color:#FFFFFF;}

BODY.logon {MARGIN-LEFT:  0px; MARGIN-RIGHT:  0px; MARGINWIDTH: 0px; MARGINHEIGHT: 0px; background-color: #3D3D3D; padding-top: 100px;}
TD.logonwhite {background-color: white; padding-left:8px; padding-top:5px;}
TD.logontitle {font: bold 16px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #93760D;}
SPAN.logontitle {font: bolder 15px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #A6A4A4;}
TD.logonheading {}
TD.logonspacing {padding-left:13px; padding-top:4px;}
input.logon {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444; border: solid 1px #929499;height: 20px; padding-top:2px;margin-right:6px;}
select.logon {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444; border: solid 1px #929499;height: 20px; padding-top:2px;margin-right:6px;}
A.logon {font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #93760D;}
hr.logon {border: 1px solid #BDBDBD; height:1px;}
TD.logontxt {font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: black; padding-top: 3px; padding-bottom: 1px;}
.logonbackgrnd {background-image: url(../images/colors/color3/logon_backgrnd.gif);}
TD.button {padding-bottom:12px;}
/*End common portlet and logon classes*/

	
/****************************************
 * delta from Snippet.css
 * classes to be used in snippets
 ****************************************/

/* Button link styles */
a.button {background-color:#93760D; font-family: Verdana, Arial,sans-serif; font-size: 11px; text-decoration: none; font-weight:bold;color: #C6C8CC; padding:2 7 3 6px;border: solid 1px #929499;height:19px;}
a.button:hover {color:white;border: solid 1px #6E93BD;background-color: #93760D;text-decoration: none;}

/* TD class styles */
th.colHeader	{color:#93760D; font-size: 11px;font-weight:bold;padding: 3px 4px 3px 4px; background-color:#E4E4E5; text-align:left;height:19px;border-top:solid 1px #929499;border-left:solid 1px #929499;border-bottom:solid 1px #929499;vertical-align:top;}
th.colHeader_price	{color:#93760D; font-size: 11px;font-weight:bold;padding: 3px 4px 3px 4px; background-color:#C1C2C6; text-align:left;height:15px;border-top:solid 1px #929499;border-left:solid 1px #929499;border-bottom:solid 1px #929499;border-right:solid 1px #929499;vertical-align:top;}
td.price 		{font-size:  11px; color: #444444; font-family: arial, helvetica, sans-serif; text-align: right;}
td.offerPrice	{font-size:  9pt; color: #444444; font-family: arial, helvetica, sans-serif; text-align: right;}
td.discountPrice{font-size:  9pt; color: #9B9B9B; font-family: arial, helvetica, sans-serif; text-align: right;}

/* This class is used to bold regular text */
strong 		{	font-weight: bold;}

/* The following classes format how currency is displayed */
.price		{	}
.listPrice	{	font-size:  11px; color: #9B9B9B; font-family: Verdana, Arial,sans-serif; text-decoration: line-through;}
.offerPrice	{	font-size:  9pt; color: #444444; font-family: arial, helvetica, sans-serif;}
.discountPrice{font-size:  9pt; color: #9B9B9B; font-family:  arial, helvetica, sans-serif; text-align: right;}

/* This class is used to format text for discounts */
.discount	{	font-size:  10pt; color: purple; font-family: arial, helvetica, sans-serif;}

/* This class is used to format product names */
.productName{	font-size:  11px; color: #93760D; font-family: Verdana, Arial,sans-serif;font-weight: bold;}

/* Class to highlight a required field on a form */
SPAN.reqd	{	font-family: verdana; color: red; FONT_SIZE: 2pt;}
.required	{	font-family: verdana; color: red; FONT_SIZE: 2pt;}

/* Class to highlight an error message */
.error		{	color: red;}
.warning	{	color: red;}

/* The background color of a table and alternating row background colors */
.bgColor 	{	border-collapse: collapse; width: 100%; }

.cellBG_1	{	 }
.cellBG_2	{	 }

/* This class is used for the section heading */
.heading {font-family: Times, Arial,sans-serif; font-size: 20px; color: #93760D;line-height:40px;}
H1 {font-family: Times, Arial,sans-serif; font-size: 20px; color: #93760D;line-height:40px;font-weight: normal;padding:0px; margin:0px;}
H2 {font-family: verdana, arial, helvetica, sans-serif;font-size: 12px;font-weight: bold;text-align: left;color: #93760D;line-height:24px; padding:0px; margin:0px;}

/* This class is used for the section sub-heading */
.subHeading {font-family: verdana, arial, helvetica, sans-serif;font-size: 12px;font-weight: bold;text-align: left;color: #93760D;line-height:30px;}

/* Breadcrumb trail for checkout pages */
a.chkout_done {font-family: Verdana, Arial,sans-serif;color:#AFAFAF;font-weight: bold;sans-serif;font-size: 11px;}
a.chkout_done:hover {color:#043982;}
td.chkout {font-family: Verdana, Arial,sans-serif;color:#AFAFAF;font-weight: bold;sans-serif;font-size: 11px;}
td.chkout_active {font-family: Verdana, Arial,sans-serif; font-size: 11px; font-weight:bold; color:#93760D;}
td.divider {width: 1px;}

/* Darwyn: new common classes for snippets */
.colHeader_last {color:#93760D; font-size: 11px;font-weight:bold;padding: 3px 4px 3px 4px; background-color:#E4E4E5; text-align:left;height:15px;border:solid 1px #929499;vertical-align:top;}
.t_align_center {align : center;}
TABLE.noBorder		{	BORDER-STYLE: none; BORDER-COLLAPSE: collapse; }
