/**
 *-------------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (c) Copyright IBM Corp. 2006
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *-------------------------------------------------------------------
 */

/****************************************
 * Master2_2.css						*
 * Style 2 - color 2					*
 * class Styles used in B2B Pages  		*
 ****************************************/

/*****************************/
/* HTML Tag style definition */

UNKNOWN 	{	FONT-SIZE: 10pt; COLOR: #32404f; FONT-FAMILY: Verdana,  Arial, Helvetica }

/* Body class Styles */
BODY 		{	FONT-SIZE: 10pt; COLOR: black  ; FONT-FAMILY: Verdana,  Arial, Helvetica; PADDING-RIGHT: 0px; PADDING-LEFT: 0px;  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;  BACKGROUND-COLOR: white}
BODY.noMargin {   MARGIN-LEFT:  0px; MARGIN-RIGHT:  0px; MARGINWIDTH: 0px; MARGINHEIGHT: 0px; }
H1 			{	FONT-SIZE: 12pt; COLOR: #564A7A; FONT-FAMILY: Verdana,  Arial, Helvetica; FONT-WEIGHT: bold;   }
TH 			{	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica }
/* Body class Styles */

/* Header Styles */
TD.thickline {background-color : #564A7A; height: 3px; FONT-SIZE: 3px;}
TD.thickline2 {background-color : #564A7A; height: 7px; FONT-SIZE: 4px;}
TD.redline {background-color : #ED9B2A; height: 1px; FONT-SIZE: 1px;}
TD.thinline {background-color : #564A7A; height: 1px; width: 1px;}
A.logoff {background-color : #564A7A; FONT-FAMILY: Verdana,  Arial, Helvetica;FONT-SIZE: 8pt;COLOR: #ffffff; PADDING-RIGHT: 10px;PADDING-LEFT: 10px; line-height : 21px; text-decoration : none;}
A.logoff:hover {background-color : #564A7A; FONT-FAMILY: Verdana,  Arial, Helvetica;FONT-SIZE: 8pt;COLOR: #C6BDDD; PADDING-RIGHT: 10px;PADDING-LEFT: 10px; line-height : 21px; text-decoration : none;}
TD.drkblu_bk {background-color : #564A7A;}
/* Header Styles */

/* Nav */
TABLE.navborder {border-style : solid; border-width : 1px;border-color : #564A7A;}
TD.navcontent {background-color : white; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px;PADDING-TOP: 1px;}
TD.navheader {background-color : #C6BDDD;FONT-FAMILY: Verdana,  Arial, Helvetica;FONT-WEIGHT: bold; COLOR: black; PADDING-LEFT: 3px;FONT-SIZE: 8pt;}
TD.navline {background-color : #ffffff; height: 1px;}
INPUT.nav {border-style : solid; border-width : 1px;background-color : #EEE8F0;border-color : #564A7A;}
TD.navblacktxt {FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, Helvetica; line-height : 10px;}
A.blacklink {FONT-SIZE: 7pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, Helvetica; }
A.blacklink:hover {FONT-SIZE: 7pt; COLOR: #4A617B; FONT-FAMILY: Verdana,  Arial, Helvetica; }
A.navbutton {FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Verdana,  Arial, Helvetica; FONT-WEIGHT: bold; background-color : #564A7A; width : 100%; height: 100%; text-decoration : none;PADDING-LEFT: 3px; PADDING-TOP: 1px;}
A.navbutton:hover {FONT-SIZE: 8pt; COLOR: #564A7A; FONT-FAMILY: Verdana,  Arial, Helvetica; FONT-WEIGHT: bold; background-color : #C6BDDD; width : 100%; height: 100%; text-decoration : none; PADDING-LEFT: 3px; PADDING-TOP: 1px;}
TD.colorcap {background-color : #ED9B2A; width: 8px;}
/*Nav*/

/*content*/
TD.padding {PADDING-LEFT: 7px; PADDING-BOTTOM: 3px;PADDING-TOP: 5px;}
/*content*/

/* A class Styles */
A 			{	FONT-SIZE: 10pt; FONT-FAMILY: Verdana,  Arial, Helvetica}
A.nav 		{	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: none}
A.nav:hover {	FONT-SIZE: 10pt; COLOR: #bccbdb; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: none}
A.search	{	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: underline}
A.button	{	FONT-SIZE:  8pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: none; 
				FONT-WEIGHT: bold; BACKGROUND-COLOR: #ED9B2A; PADDING: 1px 2px 2px 1px;
				BORDER-LEFT: thin solid #F1B768; BORDER-RIGHT:  thin solid #B06E13 ;
				BORDER-TOP:  thin solid #F1B768; BORDER-BOTTOM: thin solid #B06E13; }
/* A class Styles */

		

STRONG 		{	FONT-WEIGHT: bold;  }
I 			{	FONT-STYLE: italic; }
P 			{	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, Helvetica}
SELECT 		{	FONT-SIZE:  8pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, Helvetica}
INPUT 		{	FONT-SIZE:  8pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, Helvetica}
OPTION 		{	FONT-SIZE:  8pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, Helvetica}
HEADER 		{	FONT-SIZE:  8pt; COLOR: #ffffff; FONT-FAMILY: Verdana,  Arial, Helvetica; TEXT-DECORATION: none}


/* Span class Styles */
SPAN.reqd{	FONT-FAMILY: Verdana; COLOR: #ea2b2b; FONT_SIZE: 2pt;	}

/* TABLE class Styles */
TABLE.noBorder		{	BORDER-STYLE: none; BORDER-COLLAPSE: collapse; }
TABLE.noBorderWide	{	BORDER-STYLE: none; BORDER-COLLAPSE: collapse; WIDTH: 100%; }

/* TD class Styles */
TD 			{	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, Helvetica }
TD.header 	{	FONT-SIZE: 10pt; COLOR: #564A7A; FONT-FAMILY: Verdana; PADDING-LEFT: 3px; FONT-WEIGHT: bold;   }
TD.buttontext{	FONT-SIZE:  9pt; COLOR: white  ; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold;    BACKGROUND-COLOR: #ED9B2A; TEXT-DECORATION: none}
TD.pixel 	{	FONT-SIZE:  1px; LINE-HEIGHT: 0px;}
TD.content 	{	FONT-SIZE: 10pt; COLOR: black  ; FONT-FAMILY: Verdana; MARGIN-TOP: 10pt;  MARGIN-LEFT: 10pt;}
TD.subtitle{	COLOR: #C6BDDD;	BACKGROUND-COLOR: #564A7A; FONT-WEIGHT: bold;	}
TD.colHeader{	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; }
TD.price 	{	FONT-SIZE:  9pt; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right; }

/*End HTML Tag Style definition */
/********************************/

/*Begin common portlet and logon classes*/
TD.c_topline {background-image: url(../images/c_top_side.gif);}
TD.c_leftline {background-image: url(../images/c_left_side.gif);}
TD.c_rightline {background-image: url(../images/c_right_side.gif);}
TD.c_botline {background-image: url(../images/c_bot_side.gif);}
TD.white {background-color: white;}

TD.portlet {padding: 4px 10px 8px 1px;}
TD.portlet_main {padding: 4px 0px 0px 0px;}
TD.portlet_title {border-width : 1px; border-style : solid none solid solid; border-color : #79ACD1 #575757 #575757 #79ACD1; font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 11px; font-weight : bold; color: #DAE7F0; padding-left: 4px; height: 17px;}
TD.portlet_title_nobg {font: bold 11px Verdana; color:white;}
TD.portlet_content {font: 11px Verdana;}
TD.portlet_colHeader{font: bold 11px Verdana; color:white;}
TD.portlet_price{FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #32404f; TEXT-ALIGN: right;}
TD.portlet_discountPrice{FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: purple; TEXT-ALIGN: right;}
TD.portlet_maximize {TEXT-ALIGN: right; padding: 0px 4px 0px 0px;}
A.portlet_content {font: 11px Verdana;}
A.portlet_button {COLOR: #ffffff; font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; 
				BACKGROUND-COLOR: #ED9B2A; 
				BORDER-LEFT: thin solid #F1B768; BORDER-RIGHT:  thin solid #B06E13 ;
				BORDER-TOP:  thin solid #F1B768; BORDER-BOTTOM: thin solid #B06E13;
				height:20px; text-decoration:none; padding-left:5px; padding-right:5px; padding-top:1px; text-align: center;
}
TD.portlet_shadow {background-image : url(../images/colors/color8/shadow.gif); line-height: 2px;}
A.garbage {vertical-align: top;background-image: url(../images/garbage.gif);width:16px; height: 16px;background-repeat: no-repeat; text-decoration: none;}
A.garbage:hover {vertical-align: top;background-image: url(../images/garbage2.gif);width:16px; height: 16px;background-repeat: no-repeat;}
A.copy {vertical-align: top;background-image: url(../images/copy_icon1.gif);width:16px; height: 16px;background-repeat: no-repeat; text-decoration: none;}
A.copy:hover {vertical-align: top;background-image: url(../images/copy_icon2.gif);width:16px; height: 16px;background-repeat: no-repeat;}


/*Begin style specific portlet classes*/
TD.p_content {padding: 4px;}
TABLE.outline {border-width : 1px; border-style : solid; border-color : #848484; background: #F3F3F3;}


TD.logonLogo {background-color:#FFFFFF;}

BODY.logon {MARGIN-LEFT:  0px; MARGIN-RIGHT:  0px; MARGINWIDTH: 0px; MARGINHEIGHT: 0px; background-color: #564A7A; padding-top: 100px;}
TD.logonwhite {background-color: white; padding-left:8px; padding-top:5px;}
TD.logontitle {font: bold 16px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #564A7A;}
SPAN.logontitle {font: bolder 15px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #A6A4A4;}
TD.logonheading {font: bold 13px Verdana, Geneva, Arial, Helvetica, sans-serif; color: black; padding-top: 3px; padding-bottom: 1px;}
TD.logonspacing {padding-left:13px; padding-top:4px;}
input.logon {border: 1px solid #564A7A; background-color:#D4CCE8;}
select.logon {border: 1px solid #564A7A; background-color:#D4CCE8;}
A.logon {font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #564A7A;}
hr.logon {border: 1px solid #BDBDBD; height:1px;}
TD.logontxt {font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; color: black; padding-top: 3px; padding-bottom: 1px;}
.logonbackgrnd {background-image: url(../images/colors/color8/logon_backgrnd.gif);}
TD.button {padding-bottom:12px;}
/*End common portlet and logon classes*/

.headercontainer {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display:table;
}
.sidebarcontainer {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	display:table;
	height: 100%;
}
.contentcontainer {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display:table;
	vertical-align: top;
}
.headsupcontainer {
	padding: 0px;
	width: 300px;
	overflow : hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display:table;
	vertical-align: top;
}
.footercontainer {
	padding: 0px;
	width: 100%;
	overflow : hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display:table;
	/*height: 400px;*/
}
.sitecontainer {
	padding: 0px;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
	display:table;
}
/* General Class Styles */
.title		{	FONT-SIZE: 17pt; COLOR: #564A7A; FONT-FAMLY: Verdana	}
.smallText	{	FONT-SIZE: -1pt; COLOR: #ffffff ;FONT-FAMILY: Verdana;  }
.amount		{ 	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, Verdana;  TEXT-ALIGN: right;	}
.summary	{	FONT-SIZE: 8pt;	}
.bgColor 	{	BACKGROUND-COLOR: #564A7A;}
.cellBG_1	{	BACKGROUND-COLOR: #ffffff; }
.cellBG_2	{	BACKGROUND-COLOR: #D4CCE8; }
.warning	{	COLOR: red;	}


/****************************************
 * delta from Snippet.css
 * classes to be used in snippets
 ****************************************/

/* Button link styles */
a.button	{	font-size:  8pt; color: #ffffff; font-family: verdana,  arial, helvetica; text-decoration: none; 
				font-weight: bold; background-color: #ed9b2a; padding: 1px 2px 2px 1px;
				border-left: thin solid #f1b768; border-right:  thin solid #b06e13;
				border-top:  thin solid #f1b768; border-bottom: thin solid #b06e13;}

/* TD class styles */
th.colHeader	{font-size: 10pt; color: #ffffff; font-family: verdana; font-weight: bold;}
td.price 		{font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif; text-align: right;}
td.listPrice	{font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif; text-align: right; text-decoration: line-through;}
td.offerPrice	{font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif; text-align: right;}
td.discountPrice{font-size:  9pt; color: purple; font-family: arial, helvetica, sans-serif; text-align: right;}

/* This class is used to bold regular text */
strong 		{	font-weight: bold;}

/* The following classes format how currency is displayed */
.price		{	font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif;}
.listPrice	{	font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif; text-decoration: line-through;}
.offerPrice	{	font-size:  9pt; color: #32404f; font-family: arial, helvetica, sans-serif;}
.discountPrice{	font-size:  9pt; color: purple; font-family: arial, helvetica, sans-serif;}

/* This class is used to format text for discounts */
.discount	{	font-size:  10pt; color: purple; font-family: arial, helvetica, sans-serif;}

/* This class is used to format product names */
.productName{	font-size:  10pt; color: #32404f; font-family: arial, helvetica, sans-serif;}

/* Class to highlight a required field on a form */
.required	{	font-family: verdana; color: #ea2b2b; FONT_SIZE: 2pt;}
.strongRedText {	font-family: verdana; color: #ea2b2b; FONT_SIZE: 2pt;}

/* Class to highlight an error message */
.error		{	color: red;}

/* The background color of a table and alternating row background colors */
.bgColor 	{	background-color: #564a7a;}
.cellBG_1	{	background-color: #ffffff;}
.cellBG_2	{	background-color: #d4cce8;}

/* This class is used for the section heading */
.heading {font-family: verdana, arial, helvetica, sans-serif;font-size: 11pt;font-weight: bold;text-align: left;color: #333333;padding: 0px;margin: 0px;}

/* This class is used for the section sub-heading */
.subHeading {font-family: verdana, arial, helvetica, sans-serif;font-size: 10pt;font-weight: bold;text-align: left;color: #666666;padding: 0px;margin: 0px;}

/* Breadcrumb trail for checkout pages */
a.chkout_done {color: black; text-decoration:}
td.chkout {font: bold 11px Verdana; color: #C6C6C6; padding-right: 7px;}
td.chkout_active {font: bold 11px Verdana; color:#950000;}
td.divider {width: 1px;}

/* Darwyn: added for compatability with new catalog and checkout pages */
H1 {font-family: Times, Arial,sans-serif; font-size: 20px; color: #631B7B;line-height:40px;font-weight: normal;padding:0px; margin:0px;}
H2 {font-family: verdana, arial, helvetica, sans-serif;font-size: 12px;font-weight: bold;text-align: left;color: #631B7B;line-height:24px; padding:0px; margin:0px;}

a.chkout_done:hover {color:#043982;}

	/* content classes start */
	
	#content {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444;}
	.c_back {background-color:white;padding: 10px 0px 10px 0px;}
	.c_headings {color:#631B7B; font-size: 11px;font-weight:bold;padding-bottom:6px;padding-top:10px;}
	.c_line {width:100%; background-image :url(../images/colors/color8/c_line.gif);line-height:8px;margin:0px;font-size:2px;background-repeat: repeat-x;}
	.c_large_img {width:245px;vertical-align:top;}
	.c_flash {padding-top:10px; padding-bottom:13px;}
	.c_homepage_cat {border:solid 1px #abaaaa;}
	.c_homepage_cat_txt {font-family: Verdana, Arial,sans-serif; font-size: 13px; color:#444444;font-weight:bold; padding-left:6px; height:20px; text-transform: uppercase;}
	.c_home_txt_blue {font-family: Verdana, Arial,sans-serif; font-size: 15px; color:#631B7B;font-weight:bold;}
	.c_home_txt_black {font-family: Verdana, Arial,sans-serif; font-size: 15px; color:#444444;}
	.c_select_yr_mnth {width:110px;}
	
	/* content classes end */
	/* subNav classes start */
	
	#subNav {width:135px;padding-right:20px;vertical-align:top;}
	.sn_heading {font-family: Times, Arial,sans-serif; font-size: 20px; color: #444444;line-height:40px;}
	.sn_off {height:20px; border-top:solid 1px #929499;}
	.sn_on {height:20px; border-top:solid 1px #929499;background-color:#E4E4E5;}
	.sn_link {font-family: Verdana, Arial,sans-serif; font-size: 10px; font-weight:bold; color:#444444;text-decoration:none;height:100%;width:100%;padding-top:3px;display:block;}
	.sn_link:hover {background-color:#631B7B;text-decoration:none;color:#E9E9E9;}
	
	
	/* subNav classes end */
	/* table classes start */
	
	#table {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444;}
	.t_hd_rght {text-align : right; width:100%;}
	.t_hd_cntr {text-align : center; width:100%;}
	
	.t_img_view {text-align : center; width:120px;display:block;padding-top:12px;padding-bottom:10px;vertical-align:top;}
	.t_detail_view {display:block;padding-top:12px;padding-bottom:10px;vertical-align:top;}
	.t_space {padding-bottom: 8px;text-align : center;}
	.t_img_border { border:solid 1px #929499;}
	.t_empty_cell {width:14px}

	.t_row_img {padding-top:10px;padding-bottom:10px;vertical-align:top;}
	.t_row_detail {padding:6px;vertical-align:top;width:230px;}
	.t_txt_detail {font-size: 10px;}
	.t_row_price {padding-top:6px;padding-bottom:6px;vertical-align:top;width:95px;display:block}
	.t_button_space {padding-top:5px;display:block}
	.t_line {border-bottom:solid 1px #929499;font-size:1px;}
	.t_rght_space {padding-right:5px;}
	
	/* table classes end */
	/* page scrolling widget start*/
	
	.ps_align {text-align:right;border-right:solid 1px #929499; border-bottom:solid 1px #929499;border-top:solid 1px #929499;padding:0px; margin: 0px;}
	.ps_pad {padding-left:4px;}
	.ps_view {padding-right:5px;background-color:white; }
	.ps_input {font-family: Verdana, Arial,sans-serif; font-size: 11px; color:#444444; border: solid 1px #929499;height: 16px; padding-top:0px;margin-right:0px;border-top:solid 1px #929499;padding:0px; margin: 0px;}
	.ps_text {font-family: Verdana, Arial,sans-serif; font-size: 9px; color:#444444;padding-left:4px;}

	/* page scrolling widget end*/
	