<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Search-Preview</display-name>
	
	<servlet>
		<description></description>
		<display-name>RestPreviewServlet</display-name>
		<icon>
			<small-icon></small-icon>
			<large-icon></large-icon>
		</icon>
		<servlet-name>RestPreviewServlet</servlet-name>
		<servlet-class>com.ibm.commerce.foundation.rest.servlets.search.solr.SolrRESTSearchPreviewServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RestPreviewServlet</servlet-name>
		<url-pattern>/*</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>
	
    <filter>
    	<description>
    	</description>
    	<display-name>RestTransactionFilter</display-name>
    	<filter-name>RestTransactionFilter</filter-name>
    	<filter-class>com.ibm.commerce.rest.filter.RestTransactionFilter</filter-class>
    </filter>   	
	
	<filter-mapping>
		<filter-name>RestTransactionFilter</filter-name>
		<servlet-name>RestPreviewServlet</servlet-name>
	</filter-mapping>
</web-app>